// Initialize
@import 'init';
// Local
@import 'loading';
@import 'login';

.bg-brand {
  background-color: $brand-color;
}

.text-brand {
  color: $brand-color;
}

/*! purgecss start ignore */
.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
  0% {
    background-color: $body-bg;
  }
  50% {
    background-color: #9c0;
  }
  100% {
    background-color: $body-bg;
  }
}

@-moz-keyframes flash {
  0% {
    background-color: $body-bg;
  }
  50% {
    background-color: #9c0;
  }
  100% {
    background-color: $body-bg;
  }
}

@-ms-keyframes flash {
  0% {
    background-color: $body-bg;
  }
  50% {
    background-color: #9c0;
  }
  100% {
    background-color: $body-bg;
  }
}
/*! purgecss end ignore */
